.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 6rem;
}
